html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'IBM Plex Serif', serif;
}

.content {
    margin: auto 15%;
}

a {
    color: #ffa500;
}

a:visited {
    color: #e48100;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .content {
        margin: auto;
    }
}
