.header {
    padding: 5% 0;
    background-color: #0f0f0f;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.name {
    display: flex;
    font-size: 3em;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .name {
        width: min-content;
    }
}

.logo {
    margin: 2.5%;
}
