.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f0f0f;
    padding: 5% 0;
}

.name {
    display: flex;
    margin-right: 2.5%;
    color: white;
    font-size: 3em;
}
