.outer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1d1d1d;
    overflow: hidden;
}

.inner {
    float: right;
    margin: 0.5% 1%;
}

.link {
    color: #ffffff;
}
